In [49]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Bahar. Your age is 20
name=input('What is your name? ')
age=input('What is your age? ')
print('Your name is '+name+".","Your age is "+age+'.')

What is your name? Bahar
What is your age? 20
Your name is Bahar. Your age is 20.

In [51]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if a==b:
 print('a and b are equal')
else:
   print('a and b are not equal')

a and b are not equal

In [54]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if a>b:
  print('a is greater than b')
elif(a<b):
  print('a is less than b')
else:
  print('They are equal')

a is less than b

In [55]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [57]:
#Q5-Using while loop, print 5,4,3,2,1
i=5
while 0<i<6:
 print (i)
 i-=1

5
4
3
2
1

In [61]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for i in range(10,-1,-2):
  if i==8:
    pass
  else:
      print(i)

10
6
4
2
0

In [63]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
birth_year=int(input('Please tell your birth year: '))
age=2022-birth_year
print(age)

Please tell your birth year: 1944
78

In [89]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
 def addition(x,y):
    return x+y
print(arithmetic.addition(12,3))

class arithmetic:
 def substraction(x,y):
    return x-y
print(arithmetic.substraction (12,3))

class arithmetic:
 def multiplication(x,y):
    return x*y
print(arithmetic.multiplication(12,3))

class arithmetic:
 def division(x,y):
    return x/y
print(arithmetic.division(12,3))

15
9
36
4.0

In [91]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
finsum=0
n=3
for x in range (1,n+1):
  finsum=finsum+x
  print(finsum)

1
3
6

In [92]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 
import numpy as np

ls=[]

for k in range (0,10):
  ls.append(np.random.rand()*1)

ls[0:3]

[0.8979235129016552, 0.3750992014852502, 0.9283509996797952]

In [97]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15
for n in range (1,n+1):
 if n%3==0:
  print(n)

3
6
9
12
15